*{
    padding:0;
    margin:0;
}
body{
    padding:0 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: linear-gradient(to left top,rgb(2, 125, 4),rgb(255, 255, 255), rgb(255, 94, 2,0.8));
}
.card .image img{
    width:220px;
    height:140px;
    object-fit: cover;
    border-radius: 10%;
}
.boxes .card{
    list-style: none;
    background: white;
    border-radius: 8px;
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-bottom: 15px;
    cursor: pointer;
    scroll-snap-align:start;
}
.boxes .no-transition{
    scroll-behavior: auto;
}
.container .boxes{
    /* scroll-behavior: smooth; */
    overflow: hidden;
    gap: 20px;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: calc((100% / 3)-12px);
    /* overflow-x: auto; */
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    scrollbar-width: 0;
}
.boxes::-webkit-scrollbar{
    display: none;
}
.boxes.dragging{
    scroll-snap-type: none;
    scroll-behavior: auto;
}
.container{
    max-width:1500px;
    width:100%;
    position: relative;
}
.boxes .card{
    background:black;
}

.card .image{
    background: rgb(242, 242, 242);
    /* width:100px; */
    /* height: 150px; */
    border-radius: 10%;
}
.boxes :where(.card,.image){
    display: flex;
    justify-content: center;
    align-items: center;
    /* flex-direction: column; */
}
.card h2{
    color: rgb(245, 245, 245);
    font-family:cursive;
    font-weight: 700;
    font-size: 1.56rem;
    margin: 30px 0 5px;
}
.card span{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:rgb(155, 152, 151);
    font-size: 1.31rem;
}
.container i{
    height: 60px;
    width:60px;
    background: white;
    text-align: center;
    line-height: 50px;
    border-radius: 50%;
    font-size: 2rem;
    font-weight: 700;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    box-shadow:0 3px 6px rgba(0,0,0,0.23)

}
.boxes.dragging .card{
    cursor: grab;
    user-select: none;
}
.container i:first-child{
    left:-22px;
}
.container i:last-child{
    right:-22px;
}
@media screen and (max-width: 1500px) {
    .container .boxes{
        grid-auto-columns: calc((100% / 2)-9px);
    }
}
@media screen and (max-width: 6000px) {
    .container .boxes{
        grid-auto-columns: calc((100% / 2)-7px);
    }
}
@media screen and (max-width: 5000px) {
    .container .boxes{
        grid-auto-columns: 31%;
    }
}
@media screen and (max-width: 540px) {
    .container .boxes{
        grid-auto-columns: 100%;
    }
}